/*-----------------------------------------------------------------------------------

[Master Stylesheet]

Project:    Primax - Multipupose HTML5 Template
Version:    1
Last change:    21/05/2018 [CSS Table Of Content]
Primary use:    Business 
Note: This is Short code style file. All Short code related style included in this file. 

-----------------------------------------------------------------------------------

    [Table of contents]

    1. Theme Default CSS (body, link color, section etc)
	2. who-area-are
	3. section-heading
	4. brand-area
	5. project-count-area
	6. contact-area
	7. faq
	8. accordion -> css/shortcode/accordion.css
	9. alert -> css/shortcode/alert.css
	10. blog -> css/shortcode/blog.css
	11. breadcrumb -> css/shortcode/breadcrumb.css
	12. default -> css/shortcode/default.css
	13. footer -> css/shortcode/footer.css
	14. header  -> css/shortcode/header.css
	14. portfolio -> css/shortcode/portfolio.css
	16. pricing -> css/shortcode/pricing.css
	17. service -> css/shortcode/service.css
	18. shortcodes -> css/shortcode/shortcodes.css
	19. slider -> css/shortcode/slider.css
	20. tabs -> css/shortcode/tabs.css
	21. team -> css/shortcode/team.css
	22. testimonial -> css/shortcode/testimonial.css

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
@import url("css/animate.css");

/* fonts */
@font-face {
  font-family: Dosis; /* Гарнитура шрифта */
  src: url(fonts/blogger-sans/Blogger_Sans.otf); /* Путь к файлу со шрифтом */
}

html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
a {transition: all 0.3s ease 0s;text-decoration:none;color:#444}
a:active, a:hover {
  outline: 0 none;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}
body {font-family: 'Lato', sans-serif;color:#444;transition:.3s;line-height: 29px;}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.hover-bg-opacity a {
  display: block;
  position: relative;
}
.hover-bg-opacity a::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  transition:.3s
}
.btn {
  background-color: #03a9f4;
  border: 0 none;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  height: 50px;
  line-height: 26px;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.btn-small {
  font-size: 11px;
  height: auto;
  letter-spacing: 1px;
  padding: 6px 17px;
}
.btn-lg {
  padding: 12px 38px;
}
.btn-lg-extra {
  padding: 12px 60px;
}
.btn.focus, .btn:focus, .btn:hover {
  color: #fff;
}
.btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.parallax-bg {
  /*background-attachment: fixed !important;*/
}
.bg-color{background:#FAFAFA}
.pad-left-0{padding-left:0}
.pad-right-0{padding-right:0}
.mt-60{margin-top:60px}
.mb-30{margin-bottom:30px}
.mb-70{margin-bottom:70px}
.pad-20{padding:20px 0}
.pad-30{padding:30px 0}
.pad-70{padding:70px 0}
.pad-90{padding:90px 0}
.pad-120{padding:120px 0}
.radius-4{border-radius:4px}
.bg-theme-color{background:#03A9F4;}
.white-text{color:#fff!important}
.footer-bg{background:#252525;}
.footer-bg-2{background:#202020;}
.brand-bg{background:#03A9F4;}
.brand-color {
  color: #03a9f4;
}
.mt-30 {
  margin-top: 30px;
}
.bg-img {
  background: rgba(0, 0, 0, 0) url("img/bg/bg1.jpg") repeat fixed center center / cover ;
}
.bg-img-2 {
  background: rgba(0, 0, 0, 0) url("img/bg/bg-2.jpg") repeat fixed center center / cover ;
}
.bg-img-3 {
  background: rgba(0, 0, 0, 0) url("img/bg/bg-3.jpg") repeat scroll center center / cover ;
}
.bg-breadcrumb{
  background: rgba(0, 0, 0, 0) url("img/bg/breadcamb.jpg") repeat scroll center center / cover ;
}
.bg-breadcrumb-2{
  background: rgba(0, 0, 0, 0) url("img/bg/breadcamb-2.jpg") repeat scroll center center / cover ;
}
.bg-img-4{
  background: rgba(0, 0, 0, 0) url("img/bg/bg-4.jpg") repeat scroll center center / cover ;
}
.bg-img-5 {
  background: rgba(0, 0, 0, 0) url("img/bg/bg-5.jpg") repeat fixed center center / cover ;
}
.bg-img-6{
  background: rgba(0, 0, 0, 0) url("img/bg/bg-6.jpg") repeat fixed center center / cover ;
}
.bg-img-7{
  background: rgba(0, 0, 0, 0) url("img/bg/bg-7.jpg") repeat fixed center center / cover ;
}
.bg-img-8{
  background: rgba(0, 0, 0, 0) url("img/slider/slider-1/bg.jpg") repeat fixed center center / cover ;
}
.bg-img-9{
  background: rgba(0, 0, 0, 0) url("img/bg/bg-9.jpg") repeat fixed center center / cover ;
}
.video-bg-img{
  background: rgba(0, 0, 0, 0) url("img/bg/video-bg.jpg") repeat fixed center center / cover ;
}
.bg-test-img{
  background: rgba(0, 0, 0, 0) url("img/bg/bg-test.jpg") repeat fixed center center / cover ;
}
.bg-100vh{height:100vh}
/*------------- 2. who-area-are ---------------*/
.who-area-are{}
.who-we{}
.who-we p{}
.who-we p a{color:#03A9F4}
.who-we p a:hover{text-decoration:underline;}
.title-1 {
	text-transform: uppercase;
	letter-spacing: 2px;
}
.progress-list {
  margin-top: 43px;
}
.progress-list .progress:last-child{margin-bottom:0;}
.our-skill .progress {
  background-color: #f0f0f0;
  border-radius: 0;
  box-shadow: none;
  height: 6px;
  margin-bottom: 43px;
  overflow: visible;
  position: relative;
}
.our-skill .lead {
  color: #444;
  font-size: 13px;
  font-weight: 700;
  left: 0;
  position: absolute;
  top: -23px;
}
.our-skill .progress-bar > span {
  background: #333 none repeat scroll 0 0;
  float: right;
  font-size: 11px;
  margin-right: 10px;
  margin-top: -26px;
  padding: 0 5px;
  position: relative;
}
.our-skill .progress-bar > span::before, .our-skill .progress-bar > span::after {
  border: medium solid transparent;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
}
.our-skill .progress-bar > span::before {
  border-top-color: #333;
  border-width: 5px;
  left: 50%;
  margin-left: -5px;
}
.our-skill .progress-bar {
  background-color: #03a9f4 ;
  box-shadow: none;
}
.progress-style-2{}
.progress-style-2 .progress {
  border-radius: 0;
  box-shadow: none;
  height: 23px;
}
.progress-style-2 .progress-bar {
  font-size: 14px;
  line-height: 23px;
  padding-left: 12px;
  text-align: left;
  text-transform: capitalize;
}
.progress-style-2-color .progress-bar {
  background-color: #03a9f4;
}

.progress-style-2
.progress-style-2
.progress-style-2
.progress-style-2
/*-------------3. section-heading ---------------*/
.section-heading{}
.section-heading h2 {
	display: inline-block;
	font-size: 35px;
	letter-spacing: 3px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	position: relative;
	text-transform: uppercase;
}
.section-heading h2::before {
  background: #444 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 65px;
}
.section-heading p{}
/*------------- 4. brand-area ---------------*/
.single-brand  {
  border: 1px solid #ddd;
  display: block;
  margin-bottom: 1px;

}

.single-brand img:hover  {
  opacity: 0.65;

  -webkit-transition: opacity, color 0.3s ease 0.3s;
  -moz-transition: opacity, color 0.3s ease 0.3s;
  -ms-transition: opacity, color 0.3s ease 0.3s;
  -o-transition: opacity, color 0.3s ease 0.3s;
  transition: opacity, color 0.3s ease 0.3s;
}
/*------------- 5. project-count-area ---------------*/
.project-count-area{}
.single-count{}
.single-count span {
  font-size: 35px;
}
.single-count h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  margin: 15px 0;
}
.single-count p {
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
}
/* 6. contact-area */
#map{height:400px;width:100%}
.contact-area{}
.contact-info{}
.contact-info ul{}
.contact-info ul li i {
  float: left;
  font-size: 30px;
  line-height: 38px;
  margin-right: 18px;
  width: 30px;
}
.contact-info ul li{}
.contact-info ul li .address {
  overflow: hidden;line-height: 25px;
}
.contact-info ul li p {
  line-height: 30px;
}
.input-field {
  margin-bottom: 45px;
  position: relative;
}
.input-field input,.input-field textarea{
	border:0;border-bottom:1px solid #ddd;
	width:100%;transition:.3s
 }
.input-field input:focus,.input-field textarea:focus{border-color:#03A9F4}
.input-field{}
.input-field textarea{}
/* 7. faq */
.faq-search{}
.faq-search form {
  position: relative;
}
.faq-search input {
  border: 1px solid #ddd;
}
.faq-search button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
}
.faq-search p {
  margin: 0;
}
.single-faq h4 {
  border-top: 1px solid #ddd;
  font-family: "Lato",sans-serif;
  font-size: 16px;
  padding-top: 20px;
}
.answer-text h4 {
  letter-spacing: 0.3em;
}
.brand-img {
  margin-bottom: 30px;
  transition: box-shadow 0.3s ease 0s;
}
.brand-img:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.default-form {
  overflow: hidden;
}
.default-form input {
  margin-bottom: 30px;
}
.default-form textarea {
  height: 250px;
}
.form-messege{
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 15px;
  margin-top: 15px;
}
.form-messege.success {
  color: green;
}
.form-messege.error {
  color: red;
}
.error-content{}
.error-content h1 {
  color: #03a9f4;
  font-size: 196px;
  font-weight: 400;
  line-height: 155px;
  margin-bottom: 40px;
  text-shadow: 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb;
}
.error-content p{color: #626262;
font-size: 20px;
margin-bottom: 35px;}
.error-style-2{}
.error-style-2 h1 {
  border: 2px solid #03a9f4;
  display: inline-block;
  padding: 34px;
  text-shadow: inherit;
}
.error-content form {
  position: relative;
}
.error-content form input{}
.error-content form button {
  background: #2a89fc none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
}
/* button */
.btn-mod, a.btn-mod {
  background: rgba(34, 34, 34, 0.9) none repeat scroll 0 0;
  border: 2px solid transparent;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 4px 13px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
  height:inherit;
  line-height: 1.42857;
}
.btn-mod.btn-large {
  font-size: 13px;
  height: auto;
  padding: 12px 45px;
}
.btn-mod.btn-round {
  border-radius: 2px;
}
.btn-mod.btn-medium {
  font-size: 12px;
  height: auto;
  padding: 8px 37px;
}
.btn-mod.btn-small {
  font-size: 11px;
  height: auto;
  letter-spacing: 1px;
  padding: 6px 17px;
}
.btn-mod.btn-border {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #151515;
  color: #151515;
}
.btn-mod.btn-circle {
  border-radius: 30px;
}
.btn-mod.btn-gray {
  background: #e5e5e5 none repeat scroll 0 0;
  color: #777;
}
.btn-mod:hover, .btn-mod:focus, a.btn-mod:hover, a.btn-mod:focus {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  border-color: transparent;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  outline: medium none;
  text-decoration: none;
}
.btn-mod.btn-border:hover, .btn-mod.btn-border:focus {
  background: #000 none repeat scroll 0 0;
  border-color: transparent;
  color: #fff;
}
.btn-mod.btn-gray:hover, .btn-mod.btn-gray:focus {
  background: #d5d5d5 none repeat scroll 0 0;
  color: #444;
}
.img-gallery:hover a:before{opacity:.5}
.popup-youtube {
  color: #fff;
  font-size: 35px;
}
.see-video h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.text-colort-blue
{
  color: #03a9f4;
  font-size: 15px;
  font-weight: 600;
}

/* brand-accordion */
.brand-accordion{}
.brand-accordion .panel-heading {
  border: 0 none;
  padding: 0;
  position: relative;
}
.brand-accordion .panel-title a {
  background-color: #03a9f4;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  display: block;
  font-family: "Lato",sans-serif;
  padding: 16px;
}
.brand-accordion .panel-title a.collapsed {
  background-color: #eee;
  box-shadow: none;
  color: #202020;
}
.brand-accordion .panel-default {
  border: 0 none;
  border-radius: 0;
}
.brand-accordion .panel {
  box-shadow: none;
}
.brand-accordion .panel-group .panel + .panel {
  margin-top: 10px;
}
.icon .panel .panel-heading a::after {
  font-family: "FontAwesome";
  font-size: 24px;
  height: 99%;
  line-height: 48px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px;
}
.angle-icon .panel .panel-heading a::after {
  content: "\f107";
}
.angle-icon .panel .panel-heading a.collapsed::after {
  content: "";
}
.minus-icon .panel .panel-heading a::after {
  content: "\f068";
}
.minus-icon .panel .panel-heading a.collapsed::after {
  content: "\f067";
}

/* brand-accordion */
.brand-accordion{}
.brand-accordion .panel-heading {
  border: 0 none;
  padding: 0;
  position: relative;
}
.brand-accordion .panel-title a {
  background-color: #03a9f4;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  display: block;
  font-family: "Lato",sans-serif;
  padding: 16px;
}
.brand-accordion .panel-title a.collapsed {
  background-color: #eee;
  box-shadow: none;
  color: #202020;
}
.brand-accordion .panel-default {
  border: 0 none;
  border-radius: 0;
}
.brand-accordion .panel {
  box-shadow: none;
}
.brand-accordion .panel-group .panel + .panel {
  margin-top: 10px;
}
.icon .panel .panel-heading a::after {
  font-family: "FontAwesome";
  font-size: 24px;
  height: 99%;
  line-height: 48px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px;
}
.angle-icon .panel .panel-heading a::after {
  content: "\f107";
}
.angle-icon .panel .panel-heading a.collapsed::after {
  content: "";
}
.minus-icon .panel .panel-heading a::after {
  content: "\f068";
}
.minus-icon .panel .panel-heading a.collapsed::after {
  content: "\f067";
}

.font-alt {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.alert {
  border-radius: 2px;;
}
.well-lg {
  border-radius: 2px;
}
.well {
  border-radius: 2px;
  box-shadow: none;
}
.well-sm {
  border-radius: 2px;
}

/*------------- 7. latest-news-area ---------------*/
.latest-news-area{}
.post-wrapper{}
.post-img{}
.post-wrapper:hover  a::before{opacity:.5}
.post-img img {
  width: 100%;
}
.post-content {
  padding-top: 15px;
}
.post-content h3 {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.theme-color-hover a:hover{color:#03A9F4}
.post-content h3 a {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.post-meta {
  color: #aaa;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.post-meta span {
  margin: 0 5px;
}
.post-meta span:first-child{margin-left:0}
.read-more {
  font-weight: 600;
}
.read-more i{margin-left:5px}
.brand-active .owl-dots {
  display: none;
}
/* widget */
.widget{}
.search-form {
  position: relative;
}
.search-form input{}
.search-form button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #777;
  font-size: 18px;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
}
.search-form button:hover{color:#03a9f4}
.sidebar-title {
  font-weight: 500;
  position: relative;
}
.sidebar-title::before, .sidebar-title::after {
  background: #b2b2b2 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 50px;
}
.sidebar-title::after {
  bottom: -5px;
  width: 30px;
}
.media{}
.media li {
  overflow: hidden;
}
.media li .media-img {
  float: left;
  width: 90px;
}
.media li .media-img a{}
.media li .media-content {
  margin-left: 105px;
}
.media li .media-content h5 {
  font-size: 15px;
  font-weight: 500;
}
.media li .media-content span{}
.widget-cat{}
.widget-cat li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 6px;
  padding-bottom: 6px;
}
.widget-cat li a {

  display: block;
  text-transform: capitalize;
}
.tag{}
.tag li {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}
.tag li a {
  border: 1px solid #e9e9e9;
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}

.tag li a:hover,.tag li.active a{border-color:#03a9f4;background:#03a9f4;color:#fff}
.gallary-photo {
  margin: 0 -2px;
}
.gallary-photo > a {
  float: left;
  padding: 2px;
  width: 33.33%;
}
.pagination,
ul.page-numbers {
  border-radius: 0;
  display: block;
  margin-bottom: 0;
}
.pagination > li,
ul.page-numbers > li {
  display: inline-block;
  margin-right: 6px;
}
.pagination > li > a, .pagination > li > span,
ul.page-numbers > li > a, ul.page-numbers > li > span {
  background: #eee none repeat scroll 0 0;
  border: 0 none;
  border-radius: 50%;
  color: #202020;
  font-size: 16px;
  height: 50px;
  line-height: 48px;
  margin-left: 0;
  padding: 0;
  text-align: center;
  width: 50px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span,
ul.page-numbers > li:first-child > a, ul.page-numbers > li:first-child > span {
  border-radius: 50%;
  margin-left: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span,
ul.page-numbers > li:last-child > a, ul.page-numbers > li:last-child > span {
  border-radius: 50%;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover, .pagination > li > span.current,
ul.page-numbers > li > a:focus, ul.page-numbers > li > a:hover, ul.page-numbers > li > span:focus, ul.page-numbers > li > span:hover, ul.page-numbers > li > span.current {
  background-color: #03a9f4;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
}
.comment-info {
  overflow: hidden;
}
.comment-info h4 {
  color: #03a9f4;
  font-size: 18px;
  font-weight: 700;
}
.comment-meta a {
  color: #03a9f4;
  display: inline-block;
  font-weight: 700;
  line-height: normal;
}
.comment-meta a:hover{color:#000}
.comment-meta a:last-of-type {
  margin-left: 20px;
  padding-left: 20px;
  position: relative;
}
/*.comment-meta a:last-of-type::before {*/
/*background-color: #03a9f4;*/
/*content: "";*/
/*height: 16px;*/
/*left: 0;*/
/*position: absolute;*/
/*top: 0;*/
/*width: 2px;*/
/*}*/
.comment-list .media-left {
  padding-right: 25px;
}
.comment-list .media-body p {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.author-name {
  float: left;
}
.comment-meta {
  float: right;
  line-height: normal;
}
.total-comments {
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
blockquote {
  border-left: 5px solid #03a9f4;
}

/* breadcrumb */
.breadcrumb-title{}
.breadcrumb-title h2 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.5em;
  line-height: 1.8;
  margin: 0;
  opacity: 0.9;
  position: relative;
  text-transform: uppercase;
}
.breadcrumb-menu {
  margin-top: 11px;
}
.breadcrumb-menu .breadcrumb {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
.breadcrumb-menu .breadcrumb li {
  display: inline-block;
}
.breadcrumb-menu .breadcrumb li a, .breadcrumb > .active {
  color: #fff;
  font-family: "Dosis",sans-serif;
  letter-spacing: 0.2em;
  opacity: 0.9;
  text-transform: uppercase;
}
.breadcrumb > .active {
  color: #ddd;
}
.breadcrumb.text-black > .active {
  color: #999;
}
.breadcrumb.text-black > .active {
  color: #999;
}
.breadcrumb-menu .breadcrumb li a:hover{color:#03A9F4}
.breadcrumb-menu .breadcrumb.text-black li a {
  color: #363636;
}

/*
Template:  Theme Name
Author:
Version: 1
Design and Developed by:
NOTE: This is main style sheet of template,
This file contains the styling for the actual Template.
Please do not change anything here! write in a custom.css file if required!

*/
/*================================================
[  Table of contents  ]
================================================
01. General
02. Page section margin padding
03. Section title 1
04. Section title 2
05. button
06. button small
07. share button
08. Text color
09. Input
10. Extra class
11. Tool tip
12. loading
13. Box Layout
14. Back to top
15. Basic margin padding

======================================
[ End table content ]
======================================*/

/*************************
    General
*************************/

.img{
  max-width: 100%;
  transition: all 0.3s ease-out 0s;
}
a,
.btn {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.btn {
  border-radius: 0px;
  font-size: 14px;
  padding: 0px 15px;
  height: 30px;
  line-height: 30px;
}
.my-button {
  background: #03a9f4 none repeat scroll 0 0;
  border: 1px solid #03a9f4;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  line-height: 20px;
  padding: 8px 35px;
  text-transform: uppercase;
}
.my-button:hover {
  background: none;
  border-color: #03a9f4;
  color: #03a9f4;
}
a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
}
a:focus,
a:hover {
  color: #03A9F4;
  text-decoration: none;
}
a,
button,
input {
  outline: medium none;
  color: #444;
}
.uppercase {
  text-transform: uppercase
}
.capitalize {
  text-transform: capitalize
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  color: #444;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit
}
h1 {
  font-size: 40px;
  font-weight: 500;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
ul {
  margin: 0px;
  padding: 0px;
}
li { list-style: none }
p {
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 15px;
}
hr.style-2{
  border-bottom: 1px dashed #f10;
}
hr{margin:0;}
hr.mp-0 {
  margin: 0;
  border-bottom: 1px solid #eceff8;
}
hr.mtb-40 {
  margin: 40px 0;
  border-bottom: 1px solid #eceff8;
  border-top: 0px;
}
label {
  font-size: 15px;
  font-weight: 400;
  color: #626262;
}
*::-moz-selection {
  background: #4fc1f0;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #4fc1f0;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #4fc1f0;
  color: #fff;
  text-shadow: none;
}
.mark, mark {
  background: #4fc1f0 none repeat scroll 0 0;
  color: #ffffff;
}
span.tooltip-content {
  color: #00a9da;
  cursor: help;
  font-weight: 600;
}
.f-left {
  float: left
}
.f-ight {
  float: right
}
.fix {
  overflow: hidden
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/***************************
    transtion
****************************/
a.button::after,
a.button-small::after {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.share ul,
.share:hover ul {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a.button-border span,
a.button-border-white span,
input,
select,
textarea {
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

/*************************
    Section title 1
***********************/
.section-title {}
.section-title h1 {
  margin: 0 0 15px 0;
  line-height: 30px;
}
.section-title h2 {
  margin-top: 0px;
  line-height: 27px;
}
.section-title p {
  margin-bottom: 0px;
  font-size: 16px;
}
.section-title .title-line { padding: 10px 0 }
.section-title .title-line:before {
  background: #4FC1F0;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 220px;
}
.section-title .title-line:after {
  background: #4FC1F0;
  content: "";
  display: block;
  height: 6px;
  position: relative;
  top: -6px;
  margin: 0 auto;
  width: 60px;
}
/*************************
    section title 2
*************************/
.section-title-2 { margin-bottom: 60px }
.section-title-2 h1 { margin-bottom: 0px }
.section-title-2 h2 {
  margin-top: 0px;
  text-transform: capitalize;
  margin-bottom: 0px;
}
.section-title-2 p {
  margin-bottom: 0px;
  font-size: 16px;
}
.section-title-2 .title-line { padding: 20px 0 15px }
.section-title-2 .title-line:before {
  background: #4FC1F0;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 100px;
}
.section-title-2 .title-line-2:before {
  background: #fff;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 100px;
}
/*************************
         button
*************************/
a.button {
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
  padding: 0;
  position: relative;
  background-color: #4FC1F0;
  color: #fff;
  font-size: 15px;
}
a.button i {
  background: rgba(0, 0, 0, 0.09);
  display: block;
  float: left;
  padding: 14px;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  width: 50px;
  text-align: center;
}
a.button span {
  display: block;
  float: left;
  position: relative;
  z-index: 2;
  padding: 11px 20px;
  font-size: 15px;
  color: #fff;
  font-weight: normal;
}
a.button::after {
  background: rgba(0, 0, 0, 0.09) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  z-index: 1;
}
a.button:hover::after { width: 100% }
a.button.button-white {
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
  padding: 0;
  position: relative;
  background-color: #fff;
  color: #4FC1F0;
  font-size: 15px;
}
a.button.button-white i {
  background: rgba(0, 0, 0, 0.09) none repeat scroll 0 0;
  color: #4fc1f0;
  display: block;
  float: left;
  font-size: 16px;
  font-weight: normal;
  padding: 18px;
  text-align: center;
  width: 50px;
}
a.button.button-white span {
  display: block;
  float: left;
  position: relative;
  z-index: 2;
  padding: 11px 20px;
  font-size: 15px;
  color: #4FC1F0;
  font-weight: normal;
}
a.button.button-grey {
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
  padding: 0;
  position: relative;
  background-color: #eceff7;
  color: #4FC1F0;
  font-size: 15px;
}
a.button.button-grey i {
  background: rgba(0, 0, 0, 0.09);
  display: block;
  float: left;
  padding: 14px;
  font-size: 16px;
  color: #4FC1F0;
  font-weight: normal;
  width: 50px;
  text-align: center;
}
a.button.button-grey span {
  display: block;
  float: left;
  position: relative;
  z-index: 2;
  padding: 11px 20px;
  font-size: 15px;
  color: #4FC1F0;
  font-weight: normal;
}
a.button.button-black {
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
  padding: 0;
  position: relative;
  background-color: #444444;
  color: #4FC1F0;
  font-size: 15px;
}
a.button.button-black i {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  color: #fff;
  display: block;
  float: left;
  font-size: 16px;
  font-weight: normal;
  padding: 17px;
  text-align: center;
  width: 50px;
}
a.button.button-black span {
  display: block;
  float: left;
  position: relative;
  z-index: 2;
  padding: 11px 20px;
  font-size: 15px;
  color: #fff;
  font-weight: normal;
}
a.button-border span {
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 11px 20px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  color: #4FC1F0;
  font-size: 15px;
  border: 1px solid #4FC1F0;
}
a.button-border span:hover {
  box-shadow: -200px 0 0 #4FC1F0 inset;
  color: #fff;
  border-color: #4FC1F0;
}
a.button-border-white span {
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 11px 20px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
}
a.button-border-white span:hover {
  box-shadow: -200px 0 0 #fff inset;
  color: #4FC1F0;
  border-color: #fff;
}


/*************************
        button small
*************************/
a.button-small {
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
  padding: 0;
  position: relative;
  background-color: #4FC1F0;
  color: #fff;
  font-size: 15px;
}
a.button-small i {
  background: rgba(0, 0, 0, 0.09);
  display: block;
  float: left;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  font-weight: normal;
  width: 40px;
  text-align: center;
}
a.button-small span {
  display: block;
  float: left;
  position: relative;
  z-index: 2;
  padding: 8px 10px;
  font-size: 13px;
  color: #fff;
  font-weight: normal;
}
a.button-small:after {
  background: rgba(0, 0, 0, 0.09) none repeat scroll 0 0;
  content: "";
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 1;
}
a.button-small:hover::after { width: 100% }

/*************************
        buttons variation
*************************/
a.button.large {margin-right: 0px; }
a.button.large span { padding: 16px 80px; font-size: 18px;  }
a.button.large i {
  font-size: 18px;
  padding: 22px;
  width: 60px;
}
a.button.medium span { padding: 14px 60px; font-size: 16px; }
a.button.medium i {
  font-size: 16px;
  padding: 21px;
  width: 50px;
}
a.button.small span { padding: 12px 40px; }
a.button.small i {
  padding: 19px;
  width: 45px;
}
a.button.small span { padding: 12px 40px; }
a.button.extra-small i {
  font-size: 13px;
  padding: 16px;
  width: 38px;
}
a.button.extra-small span { padding: 8px 20px; font-size: 13px; }
a.button.extra-small i {
  font-size: 13px;
  padding: 16px;
  width: 38px;
}

/*************************
       social-icon
*************************/
.social-icon ul { margin: 0; padding: 0; }
.social-icon ul li { display: inline-block; list-style: none; }
.social-icon ul li a { display: block; margin: 3px; width: 50px; height: 50px; line-height: 50px; font-size: 16px; color: #fff; background: #4FC1F0; text-align: center; border-radius: 50%; }
.social-icon ul li a:hover { background: #EB3B60; }

.social-icon.socile-icon-style-2 ul li a { color: #fff; background: #323232; border-radius: 0;}
.social-icon.socile-icon-style-2 ul li a:hover { background: #EB3B60;  }

.social-icon.socile-icon-style-3 ul li a { color: #fff; background: transparent; border:1px solid #fff; }
.social-icon.socile-icon-style-3 ul li a:hover { background: #EB3B60; border-color:#EB3B60; }


/*************************
        Text color
*************************/
.text-blue { color: #4FC1F0; }
.text-white { color: #fff ;}
.text-black { color: #363636; }
.text-theme { color: #f10; }

.text-white h1, .text-white p, .text-white h2{ color: #fff; }
.text-white { color: #fff; }
.text-black { color: #363636 ;}
.text-theme { color: #f10; }
/*************************
        Input
*************************/
input {
  border: 1px solid #eee;
  height: 45px;
  box-shadow: none;
  padding-left: 10px;
  font-size: 14px;
  color: #626262;
  width: 100%;
}
select {
  width: 100%;
  background: #eceff8;
  border: 2px solid #eceff8;
  height: 45px;
  padding-left: 10px;
  box-shadow: none;
  font-size: 14px;
  color: #626262;
}
option {
  background: #fff;
  border: 0px solid #626262;
  padding-left: 10px;
  font-size: 14px;
}
input:focus {
  background: transparent;
  border-color:#4FC1F0;
}
textarea {
  border: 1px solid #eee;
  font-size: 14px;
  padding: 10px;
  resize: vertical;
  width: 100%;
}
textarea:focus {
  background: transparent;
  border-color:#4FC1F0;
  outline: none;
}
::-moz-placeholder {
  color: #444;
  font-size: 13px;
}
.input-group.divcenter.input-group .form-control { padding-left: 0px }
/*************************
        back-to-top
*************************/
#back-to-top .top {
  z-index: 999;
  position: fixed;
  margin: 0px;
  color: #fff;
  transition: all .5s ease-in-out;
  position: fixed;
  bottom: 105px;
  right: 15px;
  border-radius: 3px;
  z-index: 999;
  background: transparent;
  font-size: 14px;
  background: #4FC1F0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
}
#back-to-top .top:hover {
  color: #fff;
  height: 50px;
}
#back-to-top .top { background: #007da1; }
/*************************
  Basic margin padding
*************************/
.m-0 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.p-0 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
/*************************
         Margin top
*************************/
.mt-0 { margin-top: 0 }
.mt-5{ margin-top: 5px }
.mt-10 { margin-top: 10px }
.mt-15 { margin-top: 15px }
.mt-20 { margin-top: 20px }
.mt-30 { margin-top: 30px }
.mt-40 { margin-top: 40px }
.mt-50 { margin-top: 50px }
.mt-60 { margin-top: 60px }
.mt-70 { margin-top: 70px }
.mt-80 { margin-top: 80px }
.mt-90 { margin-top: 90px }
.mt-100 { margin-top: 100px }
.mt-110 { margin-top: 110px }
.mt-120 { margin-top: 120px }
.mt-130 { margin-top: 130px }
.mt-140 { margin-top: 140px }
.mt-150 { margin-top: 150px }
/*************************
      Margin right
*************************/
.mr-0 { margin-right: 0px }
.mr-10 { margin-right: 10px }
.mr-15 { margin-right: 15px }
.mr-20 { margin-right: 20px }
.mr-30 { margin-right: 30px }
.mr-40 { margin-right: 40px }
.mr-50 { margin-right: 50px }
.mr-60 { margin-right: 60px }
.mr-70 { margin-right: 70px }
.mr-80 { margin-right: 80px }
.mr-90 { margin-right: 90px }
.mr-100 { margin-right: 100px }
.mr-110 { margin-right: 110px }
.mr-120 { margin-right: 120px }
.mr-130 { margin-right: 130px }
.mr-140 { margin-right: 140px }
.mr-150 { margin-right: 150px }
/*************************
      Margin bottom
*************************/
.mb-0 { margin-bottom: 0 }
.mb-5{ margin-bottom: 5px }
.mb-10 { margin-bottom: 10px }
.mb-15 { margin-bottom: 15px }
.mb-20 { margin-bottom: 20px }
.mb-30 { margin-bottom: 30px }
.mb-35 { margin-bottom: 35px }
.mb-40 { margin-bottom: 40px }
.mb-50 { margin-bottom: 50px }
.mb-60 { margin-bottom: 60px }
.mb-70 { margin-bottom: 70px }
.mb-80 { margin-bottom: 80px }
.mb-90 { margin-bottom: 90px }
.mb-100 { margin-bottom: 100px }
.mb-110 { margin-bottom: 110px }
.mb-120 { margin-bottom: 120px }
.mb-130 { margin-bottom: 130px }
.mb-140 { margin-bottom: 140px }
.mb-150 { margin-bottom: 150px }
/*************************
        Margin left
*************************/
.ml-0 { margin-left: 0 }
.ml-10 { margin-left: 10px }
.ml-15 { margin-left: 15px }
.ml-20 { margin-left: 20px }
.ml-30 { margin-left: 30px }
.ml-40 { margin-left: 40px }
.ml-50 { margin-left: 50px }
.ml-60 { margin-left: 60px }
.ml-70 { margin-left: 70px }
.ml-80 { margin-left: 80px }
.ml-90 { margin-left: 90px }
.ml-100 { margin-left: 100px }
.ml-110 { margin-left: 110px }
.ml-120 { margin-left: 120px }
.ml-130 { margin-left: 130px }
.ml-140 { margin-left: 140px }
.ml-150 { margin-left: 150px }
/*************************
        Padding top
*************************/
.pd-60 {
  padding: 30px;
}
.pt-0 { padding-top: 0 }
.pt-10 { padding-top: 10px }
.pt-15 { padding-top: 15px }
.pt-20 { padding-top: 20px }
.pt-30 { padding-top: 30px }
.pt-40 { padding-top: 40px }
.pt-50 { padding-top: 50px }
.pt-60 { padding-top: 60px }
.pt-70 { padding-top: 70px }
.pt-80 { padding-top: 80px }
.pt-90 { padding-top: 90px }
.pt-100 { padding-top: 100px }
.pt-110 { padding-top: 110px }
.pt-120 { padding-top: 120px }
.pt-130 { padding-top: 130px }
.pt-140 { padding-top: 140px }
.pt-150 { padding-top: 150px }
/*************************
        Padding right
*************************/
.pr-0 { padding-right: 0 }
.pr-10 { padding-right: 10px }
.pr-15 { padding-right: 15px }
.pr-20 { padding-right: 20px }
.pr-30 { padding-right: 30px }
.pr-40 { padding-right: 40px }
.pr-50 { padding-right: 50px }
.pr-60 { padding-right: 60px }
.pr-70 { padding-right: 70px }
.pr-80 { padding-right: 80px }
.pr-90 { padding-right: 90px }
.pr-100 { padding-right: 100px }
.pr-110 { padding-right: 110px }
.pr-120 { padding-right: 120px }
.pr-130 { padding-right: 130px }
.pr-140 { padding-right: 140px }
/*************************
        Padding bottom
*************************/
.pb-0 { padding-bottom: 0 }
.pb-10 { padding-bottom: 10px }
.pb-15 { padding-bottom: 15px }
.pb-20 { padding-bottom: 20px }
.pb-30 { padding-bottom: 30px }
.pb-40 { padding-bottom: 40px }
.pb-50 { padding-bottom: 50px }
.pb-60 { padding-bottom: 60px }
.pb-70 { padding-bottom: 70px }
.pb-80 { padding-bottom: 80px }
.pb-90 { padding-bottom: 90px }
.pb-100 { padding-bottom: 100px }
.pb-110 { padding-bottom: 110px }
.pb-120 { padding-bottom: 120px }
.pb-130 { padding-bottom: 130px }
.pb-140 { padding-bottom: 140px }
.pb-150 { padding-bottom: 150px }
/*************************
        Padding left
*************************/
.pl-0 { padding-left: 0 }
.pl-10 { padding-left: 10px }
.pl-15 { padding-left: 15px }
.pl-20 { padding-left: 20px }
.pl-30 { padding-left: 30px }
.pl-40 { padding-left: 40px }
.pl-50 { padding-left: 50px }
.pl-60 { padding-left: 60px }
.pl-70 { padding-left: 70px }
.pl-80 { padding-left: 80px }
.pl-90 { padding-left: 90px }
.pl-100 { padding-left: 100px }
.pl-110 { padding-left: 110px }
.pl-120 { padding-left: 120px }
.pl-130 { padding-left: 130px }
.pl-140 { padding-left: 140px }
.pl-150 { padding-left: 150px }


/***************************
    Page section padding
****************************/
.ptb-0 { padding: 0 }
.ptb-10 { padding: 10px 0 }
.ptb-20 { padding: 20px 0 }
.ptb-22 {
  padding: 26px 0;
}
.ptb-30 { padding: 30px 0 }
.ptb-40 { padding: 40px 0 }
.ptb-50 { padding: 50px 0 }
.ptb-60 { padding: 60px 0 }
.ptb-70 { padding: 70px 0 }
.ptb-80 { padding: 80px 0 }
.ptb-90 { padding: 90px 0 }
.ptb-100 { padding: 100px 0 }
.ptb-110 { padding: 110px 0 }
.ptb-120 { padding: 120px 0 }
.ptb-130 { padding: 130px 0 }
.ptb-140 { padding: 140px 0 }
.ptb-150 { padding: 150px 0 }
.pd-15{padding:15px}
.pd-20{padding:20px}
/***************************
    Page section margin
****************************/
.mtb-0 { margin: 0 }
.mtb-10 { margin: 10px 0 }
.mtb-15 { margin: 15px 0 }
.mtb-20 { margin: 20px 0 }
.mtb-30 { margin: 30px 0 }
.mtb-40 { margin: 40px 0 }
.mtb-50 { margin: 50px 0 }
.mtb-60 { margin: 60px 0 }
.mtb-70 { margin: 70px 0 }
.mtb-80 { margin: 80px 0 }
.mtb-90 { margin: 90px 0 }
.mtb-100 { margin: 100px 0 }
.mtb-110 { margin: 110px 0 }
.mtb-120 { margin: 120px 0 }
.mtb-130 { margin: 130px 0 }
.mtb-140 { margin: 140px 0 }
.mtb-150 { margin: 150px 0; }

/*************************
        Extra class
*************************/
.pricing .container .row [class*="col-"] { }



/*Custom cloumn*/

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
  float: left;
}
.col-1{
  width: 10%;
}
.col-2{
  width: 20%;
}
.col-3{
  width: 30%;
}
.col-4{
  width: 40%;
}
.col-5{
  width: 50%;
}
.col-6{
  width: 60%;
}
.col-7{
  width: 70%;
}
.col-8{
  width: 80%;
}
.col-9{
  width: 90%;
}
.col-10{
  width: 100%;
}
/*************************************
   Background variation set
**************************************/
/*colored background*/
.black-bg { background: #252525 !important; }
.white-bg { background: #fff !important; }
.gray-bg { background: #eceff7 !important; }
.blue-bg { background: #4FC1F0 !important; }
.default-bg { background: #50C1F0 !important; }
.transparent-bg { background: transparent !important; }

.bg-opacity-black-10,.bg-opacity-black-20,.bg-opacity-black-30,.bg-opacity-black-30,.bg-opacity-black-40,.bg-opacity-black-50,.bg-opacity-black-60,.bg-opacity-black-70,.bg-opacity-black-80,.bg-opacity-black-90,.bg-opacity-white-10,.bg-opacity-white-20,.bg-opacity-white-30,.bg-opacity-white-30,.bg-opacity-white-40,.bg-opacity-white-50,.bg-opacity-white-60,.bg-opacity-white-70,.bg-opacity-white-80,.bg-opacity-white-90{position:relative;}
/*Opacity background*/
.bg-opacity-black-10::before, .bg-opacity-black-20::before, .bg-opacity-black-30::before, .bg-opacity-black-40::before, .bg-opacity-black-50::before, .bg-opacity-black-60::before, .bg-opacity-black-70::before, .bg-opacity-black-80::before, .bg-opacity-black-90::before, .bg-opacity-white-10::before, .bg-opacity-white-20::before, .bg-opacity-white-30::before, .bg-opacity-white-40::before, .bg-opacity-white-50::before, .bg-opacity-white-60::before, .bg-opacity-white-70::before, .bg-opacity-white-80::before, .bg-opacity-white-90::before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
.bg-opacity-black-10:before {  background: rgba(0, 0, 0, 0.1);}
.bg-opacity-black-20:before {  background: rgba(0, 0, 0, 0.2);}
.bg-opacity-black-30:before {  background: rgba(0, 0, 0, 0.3);}
.bg-opacity-black-40:before {  background: rgba(0, 0, 0, 0.4);}
.bg-opacity-black-50:before {  background: rgba(0, 0, 0, 0.5);}
.bg-opacity-black-60:before {  background: rgba(0, 0, 0, 0.6);}
.bg-opacity-black-70:before {  background: rgba(0, 0, 0, 0.7);}
.bg-opacity-black-80:before {  background: rgba(0, 0, 0, 0.8);}
.bg-opacity-black-90:before {  background: rgba(0, 0, 0, 0.9);}

.bg-opacity-white-10:before {  background: rgba(255, 255, 255, 0.1);}
.bg-opacity-white-20:before {  background: rgba(255, 255, 255, 0.2);}
.bg-opacity-white-30:before {  background: rgba(255, 255, 255, 0.3);}
.bg-opacity-white-40:before {  background: rgba(255, 255, 255, 0.4);}
.bg-opacity-white-50:before {  background: rgba(255, 255, 255, 0.5);}
.bg-opacity-white-60:before {  background: rgba(255, 255, 255, 0.6);}
.bg-opacity-white-70:before {  background: rgba(255, 255, 255, 0.7);}
.bg-opacity-white-80:before {  background: rgba(255, 255, 255, 0.8);}
.bg-opacity-white-90:before {  background: rgba(255, 255, 255, 0.9);}
.z-index {
  position: relative;
  z-index: 9;
}

/*image background*/
.bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7, .bg-8, .bg-9, .bg-10{
  background-attachment: fixed; background-clip: initial; background-color: rgba(0, 0, 0, 0); background-origin: initial; background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; z-index: 0;
}
.bg-1 {
  background: url(../../images/bg/1.jpg);}
.bg-2 { background: url(../../images/bg/2.jpg);}
.bg-3 { background: url(../../images/bg/3.jpg);}
.bg-4 { background: url(../../images/bg/4.jpg);}
.bg-5 { background: url(../../images/bg/5.jpg);}
.bg-6 { background: url(../../images/bg/6.jpg);}
.bg-7 { background: url(../../images/bg/7.jpg);}
.bg-8 { background: url(../../images/bg/8.jpg);}
.bg-9 { background: url(../../images/bg/9.jpg);}
.bg-10 { background: url(../../images/bg/10.jpg);}

/*pattern background*/
.pattern-bg { background:url(../../images/pattern/pattern-bg.png) repeat; background-position: top right; background-color: rgba(236, 239, 247, 1); }








/*separator*/
.separator{
  position: relative;
  display: inline-block;
  clear: both;
  background: rgba(0, 0, 0, 0.07) none repeat scroll 0 0;
  bottom: 0;
  height: 1px;
  width: 33%;
}
.separator::before {
  background: #4fc1f0 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  transition: all 0.4s ease 0s;
  width: 100px;
}

.section-title:hover .separator::before {
  width: 75%;
}

.separator i {
  background: #ECEFF7 none repeat scroll 0 0;
  color: #4fc1f0;
  display: block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: -20px;
  width: 40px;
}
.separator span {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #4fc1f0;
  border-radius: 100%;
  display: block;
  height: 10px;
  position: absolute;
  top: -5px;
  width: 10px;
}
.separator i, .separator span {
  left: 0;
  transform: none;
}
.text-center .separator::before, .text-center .separator i, .text-center .separator span  {
  left: 50%;
  transform: translateX(-50%);
}

.text-right .separator::before, .text-right .separator i, .text-right .separator span  {
  left: auto;
  transform: none;
  right: 0;
}

/*tooltip*/
.socile-icon-tooltip [data-tooltip], .socile-icon-tooltip .tooltip {
  cursor: pointer;
  position: relative;
}
.socile-icon-tooltip [data-tooltip]::before, .socile-icon-tooltip [data-tooltip]::after, .socile-icon-tooltip .tooltip::before, .socile-icon-tooltip .tooltip::after {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translate3d(0px, 0px, 0px);
  transition: opacity 0.2s ease-in-out 0s, visibility 0.2s ease-in-out 0s, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24) 0s;
  visibility: hidden;
}
.socile-icon-tooltip [data-tooltip]:hover::before, .socile-icon-tooltip [data-tooltip]:hover::after, .socile-icon-tooltip [data-tooltip]:focus::before, .socile-icon-tooltip [data-tooltip]:focus::after, .socile-icon-tooltip .tooltip:hover::before, .socile-icon-tooltip .tooltip:hover::after, .socile-icon-tooltip .tooltip:focus::before, .socile-icon-tooltip .tooltip:focus::after {
  opacity: 1;
  visibility: visible;
}
.socile-icon-tooltip .tooltip::before, .socile-icon-tooltip [data-tooltip]::before {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 6px solid rgba(0, 0, 0, 0);
  content: "";
  z-index: 1001;
}
.socile-icon-tooltip .tooltip::after, .socile-icon-tooltip [data-tooltip]::after {
  background-color: #00a9da;
  border-radius: 3px;
  color: #ffffff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
  padding: 8px;
  text-align: center;
  width: 100px;
  z-index: 1000;
}
.socile-icon-tooltip [data-tooltip]::before, .socile-icon-tooltip [data-tooltip]::after, .socile-icon-tooltip .tooltip::before, .socile-icon-tooltip .tooltip::after, .socile-icon-tooltip .tooltip-top::before, .socile-icon-tooltip .tooltip-top::after {
  bottom: 100%;
  left: 50%;
}
.socile-icon-tooltip [data-tooltip]::before, .socile-icon-tooltip .tooltip::before, .socile-icon-tooltip .tooltip-top::before {
  border-top-color: #00a9da;
  margin-bottom: -12px;
  margin-left: -6px;
}
.socile-icon-tooltip [data-tooltip]::after, .socile-icon-tooltip .tooltip::after, .socile-icon-tooltip .tooltip-top::after {
  margin-left: -50px;
}
.socile-icon-tooltip [data-tooltip]:hover::before, .socile-icon-tooltip [data-tooltip]:hover::after, .socile-icon-tooltip [data-tooltip]:focus::before, .socile-icon-tooltip [data-tooltip]:focus::after, .socile-icon-tooltip .tooltip:hover::before, .socile-icon-tooltip .tooltip:hover::after, .socile-icon-tooltip .tooltip:focus::before, .socile-icon-tooltip .tooltip:focus::after, .socile-icon-tooltip .tooltip-top:hover::before, .socile-icon-tooltip .tooltip-top:hover::after, .socile-icon-tooltip .tooltip-top:focus::before, .socile-icon-tooltip .tooltip-top:focus::after {
  transform: translateY(-25px);
}

/* -----------------------------------
Template:  Theme Name

NOTE: This is Footer style file. All footer related style included in this file.

--------------------------------------*/
/*------------- 7. footer ---------------*/
.footer-top-area{}
.footer-widget{}
.footer-widget p {
  color: #ccc;
}
.footer-logo {
  margin-bottom: 10px;
}
.footer-logo img {
  max-width: 185px;
}
.footer-logo a{color: #ccc;}
.social-icon{}
.social-icon a {
  color: #ccc;
  font-size: 16px;
  margin-right: 8px;
}
.latest-post{}
.latest-post li {
  line-height: 24px;
  margin-bottom: 15px;
}
.latest-post li:last-child{margin-bottom:0;}
.latest-post li a {
  color: #ccc;
}
.theme-color-hover li a:hover {
  color: #03A9F4;
}
.latest-post li span {
  color: #ccc;
  display: block;
  font-size: 13px;
  margin-top: 6px;
}
.widget-title {
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
}
.latest-tweets{}
.latest-tweets li {
  color: #ccc;
  line-height: 24px;
  margin-bottom: 15px;
}
.latest-tweets li:last-child{margin-bottom:0}
.latest-tweets li i {
  color: #00b6f1;
  margin-right: 6px;
}
.meta {
  display: block;
  margin-top: 6px;
}
.meta a {
  color: #fff;
  font-size: 13px;
}
.meta a:hover{
  text-decoration:underline
}
.get-in-touch{}
.get-in-touch li {
  color: #ccc;
  line-height: 24px;
  margin-bottom: 15px;
}
.get-in-touch li i {
  height: 20px;
  width: 20px;
}
.copyright > p {
  color: #ccc;
  margin: 0;
}
.copyright a {
  color: #03a9f4;
  text-transform: capitalize;
}
.footer-nav ul {
  text-align: right;
}
.footer-nav li {
  display: inline-block;
  margin-left: 10px;
}
.footer-nav a {
  color: #ccc;
  text-transform: capitalize;
}
.theme-color-hover a:hover {
  color: #03A9F4;
}
/* footer style 2 */
.footer-widget-center{}
.footer-widget-center p {
  color: #fff;
}
.footer-widget-center .social-icon a {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 30px;
  margin: 0 5px;
  transform: rotate(45deg);
  width: 30px;
}
.footer-widget-center .social-icon a:hover {
  background: #fff none repeat scroll 0 0;
  color:#03A9F4;
}
.footer-widget-center .social-icon a i{transform: rotate(-45deg);}
.footer-border{border-top:1px solid #ddd}
.footer-nav.white-text a {
  color: #fff;
  text-transform: capitalize;
}
.footer-nav.white-text li a:hover {
  color: #81ddff;
}
.copyright.white-text a {
  color: #f1f1f1;
}
.copyright.white-text > p {
  color: #fff;
}
.footer-nav.white-text a {
  color: #fff;
}
.white-text .footer-widget p {
  color: #fff;
}
.white-text .social-icon a {
  color: #fff;
}
.white-text .social-icon a:hover {
  color: #81ddff;
}
.white-text .latest-post li a {
  color: #fff;
}
.white-text .latest-post li a:hover {
  text-decoration:underline
}
.white-text .latest-post li span {
  color: #f1f1f1;
}
.white-text .latest-tweets li {
  color: #fff;
}
.white-text .latest-tweets li i {
  color: #fff;
}
.white-text .theme-color-hover li a:hover {
  color: #81ddff;
}
.white-text .meta a:hover {
  color: #fff;
}
.white-text .get-in-touch li {
  color: #fff;
}
.content-box {
  color: #ddd;
  text-align: center;
}
.content-box-icon {
  font-size: 36px;
}
.content-box-title {
  font-size: 14px;
  margin: 5px 0 0;
}
.footer-border-2 {
  border-top: 1px solid #a1a1a1;
}
.footer-border-3 {
  border-top: 1px solid #fff;
}

/* -----------------------------------
Template:  Theme Name

NOTE: This is Header style file. All Header related style included in this file.

--------------------------------------*/
.header-main-menu {
  display: inline-block;
}
.header-right {
  display: inline-block;
  margin-top: 5px;
}
.welcome > span {
  margin-right: 12px;
}

/*menu style */
.header-area{
  z-index: 10;
  position: relative;
}
.top-header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.main-menu > li > a {
  color: #303030;
  display: block;
  padding: 30px 12px;
  text-transform: uppercase;
}
.main-menu.menu-text-white > li > a {
  color: #fff;
}
.main-menu.menu-text-black > li > a {
  color: #000;
}
.main-menu li {
  display: inline-block;
  position: relative;
}
.main-menu > li:hover > a{
  color: #f10;
}
.dropdown > li:hover > a{
  color: #f10;
}
.single-mega-item > li:hover > a{
  color: #f10;
}
.main-menu span.indicator {
  margin-left: 3px;
}
/*Dropdown Style*/
.dropdown {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 130%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 220px;
  z-index: 2;
}
.dropdown li{
  display: block;
  border-bottom: 1px solid #e5e5e5;
}
.dropdown li a {
  display: block;
  padding: 8px 20px;
  text-transform: capitalize;
}
.main-menu li:hover .dropdown{
  visibility: visible;
  opacity:1;
  top:100%
}
#primary-menu .main-menu li:hover a{color:#03A9F4}
#primary-menu .main-menu li:hover .dropdown li a{color:#303030}
#primary-menu .main-menu li:hover .dropdown li a:hover{color:#03A9F4}
.main-menu li .dropdown li ul.dropdown.three-label-menu {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  left: 100%;
  opacity: 0;
  top: 20% !important;
  visibility: hidden;
}
.main-menu li ul.dropdown > li:hover a{color:#03a9f4!important}
.main-menu li ul.dropdown > li:hover ul.dropdown.three-label-menu li a{color:#444!important}
.main-menu li ul.dropdown > li:hover ul.dropdown.three-label-menu li a:hover{color:#03a9f4!important}
.main-menu li ul.dropdown > li:hover ul.dropdown.three-label-menu {
  opacity: 1;
  top: 0!important;
  visibility: visible;
}
/*Mega menu style*/
/*#primary-menu {
  position: relative;
}*/
.mega-menu-area {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 2px solid #f10;
  box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
  left: 0;
  opacity: 0;
  padding-bottom: 10px;
  position: absolute;
  text-align: left;
  top: 130%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}
.main-menu li.mega-parent {
  position: static;
}
.single-mega-item {
  float: left;
  width: 25%;
  padding: 0 15px;
}
.single-mega-item li {
  display: block;
  border-bottom: 1px solid #e5e5e5;
}
.single-mega-item li:last-child{
  border-bottom: 0px solid #000;
}
.single-mega-item li.mega-title a {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.single-mega-item li a {
  display: block;
  padding: 13px 0;
  text-transform: capitalize;
}
.main-menu li:hover .mega-menu-area{
  opacity:1;
  visibility: visible;
  top:100%;
}
#primary-menu .main-menu li:hover .mega-menu-area .single-mega-item li a {
  color: #303030;
}
#primary-menu .main-menu li:hover .mega-menu-area .single-mega-item li a:hover {
  color: #03A9F4;
}
.header-middle-area .container .row [class*="col-"] {
  position: static;
}
.header-middle-area .full-width-mega-dropdown{
  position: relative;
}


/*Header Transprent */
.transparent-header {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  margin: auto;
  position: absolute;
  width: 100%;
}
.transparent-header .main-menu > li > a{
  color: #fff;
}
.transparent-header.sticky{
  background: rgba(255,255,255,0.9);
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4)
}
/*Sticky Menu*/
/* .header-area.sticky {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	background-color: #ffffff;

	box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
} */
.sticky .main-menu > li > a {
  color: #303030;
  padding: 20px 12px;
}
.logo {
  transition: all 0.3s ease 0s;
}
.logo img{
  transition: all 0.3s ease 0s;
  width: 194px;
}
.sticky .logo img {
  transition: all 0.3s ease 0s;
  width: 150px;
}
.sticky .logo {
  padding: 17px 0;
}
.sticky .header-search i {
  color: #444;
}
/* header search box  */
.sticky {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}
.header-right {
  margin-top: 5px;
}
.header-search{}
.header-search {
  display: inline-block;
}
.header-search i {
  color: #fff;
  font-size: 24px;
}
.header-search {
  margin-left: 20px;
  position: relative;
  top: 6px;
}
.header-search form {
  position: relative;
}
.header-search form input {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #999999;
  font-size: 16px;
  height: 40px;
  padding-left: 10px;
  width: 100%;
}
.header-form {
  background: #fff none repeat scroll 0 0;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 140%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 350px;
  z-index: 9999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.header-search:hover .header-form {opacity:1;top:100%;visibility:visible}
.header-search form button {
  background: #666 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  height: 40px;
  position: absolute;
  right: 0;
  transition: all 0.3s ease 0s;
  width: 40px;
  top: 0;
}
.header-search form button:hover{background:#FE4847;color:#fff}
/* search */
.search-inside {
  background: rgba(3, 169, 244, 0.5) none repeat scroll 0 0;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}
.search-inside .search-close {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 500;
}
.search-inside .search-close:hover{color:#fe4847}
.search-inside .search-overlay {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.search-inside .position-center-center {
  padding: 0 20px;
  width: 60%;
}
.position-center-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.search-inside .search {
  display: inline-block;
  position: relative;
  width: 100%;
}
.search-inside .search input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #fff none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.5);
  border-image: none;
  border-style: none none solid;
  border-width: medium medium 1px;
  color: #000;
  font-size: 20px;
  height: 60px;
  padding: 0 20px;
  text-align: left;
  transition: all 0.4s ease-in-out 0s;
  width: 100%;
  font-weight: 700;
}
.search-inside .search button {
  background: #e83948 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  float: right;
  font-size: 21px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.4s ease-in-out 0s;
  width: 59px;
  z-index: 1;
}
.search-inside .search button:hover{background:#03A9F4}
.section-title.white > h2 {
  color: #fff;
}
.header-top-area{}

.dark-menu{}
.dark-menu .header-search i {
  color: #303030;
}
.social-icon-header{}
.social-icon-header a {
  color: #666;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin: 0 5px;
  text-align: center;
  width: 20px;
}
.white-bg .sticky {
  background: #fff none repeat scroll 0 0;
}
.display-block{display:block}
.header-search-2{}
.header-search-2 form {
  position: relative;
}
.header-search-2 input {
  width: 300px;
}
.header-search-2 button {
  background: #03a9f4 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  transition:.3s
}
.header-search-2 button:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.border-top{border-top:1px solid #eee}
.bottom-border {
  border-bottom: 1px solid #eee;
}
.sticky.bottom-border {
  border-bottom: 0;
}
.one-page-style{}
.one-page-style li{}
.one-page-style li.current a {
  color:#03a9f4
}
/* my cart */
/* .shop-cart {
  display: inline-block;
  margin-left: 10px;
  position:relative
}
.my-cart span{}
.my-cart a {
  color: #fff;
}
.total-cart {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  height: 20px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
} */

/*------------- 5. work-area ---------------*/
.work-area{}
.portfolio-wrapper{margin: 0;
  position: relative;}
.portfolio-wrapper img{}
.work-text {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 100%;
  z-index: 9;
}
.work-text h3 {
  margin-bottom: 0;
  text-transform: uppercase;
}
.work-text h3 a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.work-text span {
  color: #fff;
  display: block;
  margin-bottom: 20px;
}
.work-text a {
  color: #fff;
}
.work-text a.view-portfolio:hover{background:#fff;}
.view-portfolio {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  height: 60px;
  padding: 5px 25px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
  z-index: 99;
}
.view-portfolio::before,.view-portfolio::after {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 30px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  transition: all 0.3s ease 0s;
}
.view-portfolio::after {
  height: 1px;
  width: 30px;
}
.work-text a.view-portfolio:hover::before,.work-text a.view-portfolio:hover::after {background:#000;}
.work-text a i{font-size: 26px;}
.portfolio-wrapper:hover .work-text{opacity: 1;
  transform: translate(15px, 15px);}
.inner-text {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.load-more {}
.load-more a{}
.load-more a i{margin-right:5px}
.portfolio-title {
  transition: box-shadow 0.3s ease 0s;
}
.portfolio-title:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.portfolio-title:hover .portfolio-heading{
  border: 1px solid transparent;
  border-top:0;
}

@media (min-width: 768px) {
  .portfolio-img {
    position: relative;
    height: 300px;
    overflow: hidden;
  }
}

.portfolio-img {
  position: relative;
}
.portfolio-title:hover .work-text {
  transform: inherit;
}
.portfolio-title .work-text {
  bottom: 15px;
  height: inherit;
  left: 15px;
  right: 15px;
  top: 15px;
  width: inherit;
}
.portfolio-heading {
  border: 1px solid #eee;
  overflow: hidden;
  border-top:0;
}
.portfolio-heading h4 {
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.portfolio-heading h5 {
  font-size: 16px;
}
.portfolio-wrapper .brand-bg {
  background: rgba(3, 169, 244, 0.8) none repeat scroll 0 0;
}
.portfolio-details{}
.portfolio-details h3 {
  font-size: 25px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.portfolio-details span{}
.portfolio-details span a {
  color: #03a9f4;
  font-size: 15px;
  font-weight: 600;
}
.portfolio-details p{}
.portfolio-meta{}
.portfolio-meta ul{}
.portfolio-meta ul li {margin: 15px 0;}
.portfolio-meta ul li span {
  color: #202020;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 130px;
}
.portfolio-meta ul li a {
  color: #666;
  margin-right: 5px;
}
.portfolio-meta ul li a:hover {
  color: #03A9F4;
}
/* portfolio filter */
.portfolio-menu{}
.brand-filter div.active, .brand-filter div:hover {
  background: #03A9F4 none repeat scroll 0 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
}
.portfolio-menu div {
  background: #eee none repeat scroll 0 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  margin: 4px 4px 4px 4px;
  padding: 7px 22px;
  transition: all 0.3s ease 0s;
}
#Container .mix{
  display: none;
}
.section-heading i {
  display: block;
  font-size: 55px;
  margin-bottom: 10px;
}

/* pricing-area */
.pricing-area{}
.single-pricing{}
.pricing-head {
  background: #f2eff6 none repeat scroll 0 0;
  padding: 20px 0;
}
.pricing-head h2 {
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 0;
}
.pricing-head > span {
}
.pricing-plan-price span {
  color: #fff;
  font-size: 40px;
}
.pricing-plan-price {
  background: #5f5fa7 none repeat scroll 0 0;
  line-height: normal;
  padding: 8px 0;
}
.standard-bg {
  background: #5f5fa7 none repeat scroll 0 0;
}
.premium-bg {
  background: #e83948 none repeat scroll 0 0;
}
.basic-bg{
  background: #03A9F4 none repeat scroll 0 0;
}
.unlimited-bg{
  background: #A558A6 none repeat scroll 0 0;
}
.pricing-plan-price span {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}
.pricing-plan-price span span {
  font-size: 25px;
}
.pricing-plan-list{}
.pricing-plan-list ul {}
.pricing-plan-list ul li {
  line-height: 45px;
}
.pricing-plan-list ul li:nth-child(even){background:#F9F9FB;}
.pricing-plan-list ul li:nth-child(odd){background:#F5F3F8;}
.get-started {
  background: #f2eff6 none repeat scroll 0 0;
  padding: 30px 0;
}

/*------------- 4. service-area ---------------*/
.service-area{}
.single-service {
  border: 1px solid #eee;
  padding: 20px;
  transition: all 0.3s ease 0s;
}
.service-icon {
  margin-bottom: 20px;
  margin-top: 8px;
}
.service-icon span,.service-icon i{
  font-size: 45px;
  line-height: 40px;
}
.service-text{}
.service-text h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: .3s;
  text-transform: uppercase;
}
.service-text p {
  line-height: 30px;
  margin: 0;
}
.brand-hover:hover h3,.brand-hover.active h3{color:#fff}
.brand-hover:hover,.brand-hover.active {
  background: #03A9F4 none repeat scroll 0 0;
  border-color: #03A9F4;
  color: #fff;
}
.service-2{}
.service-2 .service-icon {
  float: left;
  margin-bottom: 0;
  margin-right: 15px;
  margin-top: 8px;
  width: 60px;
}
.service-2 .service-text {
  overflow: hidden;
}

/* -----------------------------------
Template:  Theme Name

NOTE: This is Slider style file. All Slider related style included in this file.

--------------------------------------*/

/*------------- 2. slider ---------------*/
.slider-area{}
.single-slider {
  position: relative;
}
.slider-img {
  background-position: center center;
  background-size: cover !important;
  height: 100vh;
}
.slider-img img{}
.slider-content {
  color: #fff;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.slider-content h4 {
  text-transform: capitalize;
  color: #fff;
}
.slider-content h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 400;
  margin: 20px 0;
  text-transform: uppercase;
}
.slider-content p {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}
.owl-carousel .owl-controls .owl-nav div {
  background: #03a9f4 none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-size: 30px;
  height: 40px;
  left: 50px;
  line-height: 37px;
  margin-top: -20px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  width: 40px;
  z-index: 6;
}
.owl-carousel .owl-controls .owl-nav div i {
  position: relative;
}
.owl-carousel .owl-controls .owl-nav div.owl-next{left:auto;right:50px}
.owl-carousel:hover .owl-controls .owl-nav div:hover{background:#fff;color:#000}
.owl-carousel:hover .owl-controls .owl-nav div.owl-prev {
  opacity: 1;
}
.owl-carousel:hover .owl-controls .owl-nav div.owl-next {
  opacity: 1;
}
/* .owl-prev::before, .owl-next::before {
  background: #fff none repeat scroll 0 0;
  border-radius: 2px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  content: "";
  display: block;
  height: 66%;
  left: 0;
  position: absolute;
  top: 17px;
  transform: rotate(45deg);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  width: 66%;
} */
/* .owl-next::before {
  left: auto;
  right: 0;
} */
/* .owl-prev:hover::before, .owl-next:hover::before {
  opacity: 0.87;
} */
/* .owl-carousel.owl-loaded {
  overflow: hidden;
} */
.slider-parallax{}
.slider-style-2 h2 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5em;
  line-height: 1.8;
  margin-bottom: 27px;
  position: relative;
  text-transform: uppercase;
}
.slider-style-3 h2 {
  font-size: 35px;
  letter-spacing: 0.4em;
  line-height: 1.8;
  margin-bottom: 27px;
  opacity: 0.9;
  position: relative;
  text-transform: uppercase;
}
.slider-style-2 p{}
.slider-style-2 > span {
  font-family: "Dosis",sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3em;
  line-height: 1.2;
  margin-top: 0;
  position: relative;
  text-transform: uppercase;
}
.slider-style-2 a {
  margin: 0 5px 1px;
}
.z-index-5{z-index:5;position:related}
/* .cd-headline.clip .cd-words-wrapper {
  vertical-align: middle;
} */
.slider-style-2 .cd-words-wrapper {
  text-align: center;
}
.slider-style-2 h2 b{font-weight:normal}
h2.letters b i{font-style:normal;}
.default-slider{}
.slider-content.default-slider h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 18px;
  margin: 20px 0;
  text-transform: uppercase;
}
.default-slider h5{color:#ddd}
.slider-style-4 h2 {
  font-family: "Lato",sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.4em;
  opacity: 1
}
.slide-title {
  font-size: 19px;
  letter-spacing: 1px;
}

.custom-tab{}
.custom-tab li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
}
.custom-tab li.active a {
  background: #03a9f4 none repeat scroll 0 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
}
.custom-tab li a {
  background: #eeeeee none repeat scroll 0 0;
  display: block;
  padding: 11px 20px;
  text-transform: uppercase;
}
.my-tab .tab-pane a {
  color: #03a9f4;
}
.tab-2{}
.tab-2  {}
.tab-2 li {
  display: inline-block;
}
.tab-2  li.active a{}
.tab-2 li a {
  display: block;
  font-size: 30px;
  font-weight: 400;
  padding: 20px 14px;
  position: relative;
}
.tab-2 li a::before {
  background: #03a9f4;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: all 0.3s ease 0s;
  width: 100%;
}
.tab-2 li a:hover::before,.tab-2  li.active a::before{transform: scaleX(1);}
.tab-2 li.active a{color: #03a9f4;}

/*------------- 8. team-area ---------------*/
.team-area{}
.single-team{}
.team-img{position:relative}
.team-img::before {
  background: transparent none repeat scroll 0 0;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  width: 100%;
  z-index: 1;
}
.single-team:hover .team-img::before {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
}
.team-img img{}
.team-text {
  background-size: cover;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  left: 0;
  opacity: 0;
  padding: 0 23px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  width: 100%;
  z-index: 2;
}
.single-team:hover .team-text{opacity: 1;}
.team-text h4 {
  letter-spacing: 0.2em;
}
.team-text p{}
.team-icon{}
.team-icon a {
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  border: 1px solid #fff;
  height: 40px;
  width: 40px;
  color: #fff;
  line-height: 38px;
  margin: 0 5px;
  border-radius: 50%;
}
.team-icon a:hover {
  color: #444;
  background: #fff;
}
.team-name{}
.team-name h4 {
  font-size: 17px;
  letter-spacing: 2px;
  margin-top: 23px;
  text-transform: uppercase;
}
.team-name h5 {
  color: #888;
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}
.single-team-2{}
.team-info {
  background: #fff none repeat scroll 0 0;
  padding: 20px;
}
.team-info h4 {
  margin-bottom: 0;
  text-transform: uppercase;
}
.team-info span{}
.team-info p{}
.team-icon a{}
.single-team-2 .team-icon a {
  padding: 0 7px;
  color: #444;
  width: inherit;
  margin-left: 0;
  padding-left: 0;
  margin-right: 12px;
  height: inherit;
  line-height: 1;
}

/*------------- 6. testimonial-area ---------------*/
.testimonial-area{}
.black-opacity{position:relative;}
.black-opacity::before {
  background: #000 none repeat scroll 0 0;
  content: " ";
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
}
.testimonial-title span {
  font-size: 32px;
  text-align: center;
}
.testimonial-title h3 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.3em;
  margin: 18px 0 25px;
  padding: 0;
  text-transform: uppercase;
}
.testimonial-title{}
.single-testimonial{}
.single-testimonial p {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
}
.testimonial-author{}
.testimonial-author > span {
  color: #ccc;
  font-size: 13px;
  font-weight: 400;
}
.black-text .testimonial-author > span {
  color: #444;
}
.dots-style .owl-dots {
  margin-top: 30px;
  text-align: center;
}
.dots-style-2 .owl-dots {
  margin-top: 0px;
}
.dots-style .owl-dot {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  display: inline-block;
  height: 5px;
  margin: 0 3px;
  transition: all 0.3s ease 0s;
  width: 15px;
}
.dots-style .owl-dot.active,.owl-dot:hover {
  background: #03a9f4  none repeat scroll 0 0;
  width: 15px;
}
.white-dot .owl-dot.active,.owl-dot:hover {
  background: #fff  none repeat scroll 0 0;
}